* {
    font-family: sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.logo, .main-container-left h1, button, .cta-text h3 {
    color: #F9FAF8;
}

a, .main-container-left p, .main-container-right p, .cta-text p {
    color: #E5E7EB;
}

a {
    text-decoration: none;
}

a {
    font-size: 23.5px;
}

a:hover {
    color: #3882F6;
}

.hero-container, footer {
    background-color: #1F2837;
}

nav, header, main, .main-container-left, .main-container-right, .info-container, .grid-container-large, .grid-container-small, .quote-container, .cta-container, .cta, .cta-text, footer {
    display: flex;
}

nav {
    gap: 2em;
}

header {
    padding: 1.6em 17.2em;
    justify-content: space-between;
}

.logo {
    font-weight: 1000;
    font-size: 29px;
}

main {
    justify-content: center;
    margin: 9em 17em 0em 17em;
    padding-bottom: 11.7em;
}

.main-container-left h1 {
    font-size: 63px;
    line-height: 1.1em;
    font-weight: 800;
}

.main-container-left, .main-container-right {
    flex: 1
}

.main-container-left {
    flex-direction: column;
    gap: 1.5em
}

.main-container-left p {
    font-size: 24px;
}

.main-container-right {
    justify-content: center;
    align-items: center;
}

.main-container-right p {
    font-size: 23px;
}

button {
    background-color: #3882F6;
    border-radius: 10px;
    border: none;
    font-size: 24px;
    padding: 0.45em 1.9em;
    align-self: flex-start;
}

button:hover {
    background-color: white;
    color: #3882F6;
}

.main-container-right {
    background-color: #6c757d;
}

.info-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 4em;
    padding-bottom: 10em;
    gap: 4.1em;
}

.info-container h2 {
    color: #1F2937;
    font-size: 3em;
    font-weight: 800;
}

.grid-container-large {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 4.4em;
}

.grid-container-small {
    flex-direction: column;
    max-width: 13.6em;
    max-height: auto;
    text-align: center;
    gap: 1em;
}

.grid-image-placeholder {
    height: 13.7em;
    border: 6px solid #3882F6;
    border-radius: 10px;
}

.grid-container-small p {
    font-size: 23px;
    color: #1F2937;
}

.quote-container {
    padding: 10.7em 28em 8.5em 28em;
    flex-direction: column;
    justify-content: center;
    color: #1F2937;
    gap: 0.2em;
    background-color: #E5E7EB;
}

.quote {
    font-size: 48px;
}

.author {
    margin-left: auto;
    font-size: 29.5px;
    font-weight: 1000;
}

.cta-container {
    justify-content: center;
    padding: 8.3em 0em 7.8em 8em;
}

.cta {
    padding: 4.7em 9em;
    background-color: #3882F6;
    color: #E5E7EB;
    border-radius: 10px;
    justify-content: space-between;
    gap: 20.5em;
}

.cta-text {
    flex-direction: column;
}

.cta-text h3 {
    font-size: 27px;
}

.cta-text p {
    font-size: 20px;
}

.cta button {
    border: 3px solid #E5E7EB;
}

.cta button:hover {
    color: #3882F6;
    background-color: #E5E7EB;
}

footer {
    padding: 3em;
    justify-content: center;;
}